.speech{
    font: message-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: black;
}
.direction{
    font: medium;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: aquamarine;
}
.direction:hover{
    background-color: darkkhaki;
    color: brown;
}
.MISSTESMAN{
    color: cornflowerblue;

}
.BERTA{
    color: darkblue;
}
.TESMAN{
    color:rgb(112, 215, 84);
}
table{
    font-size: medium;
    border: 5px rgb(0, 255, 136) solid;
    color: rgb(72, 47, 216);
    text-align: center;
    padding: 15px;
    margin: 3px;
}
tr:nth-child(odd) {
    background-color: lightpink;
  }
.MISSTESMAN:hover{
    color: rgb(209, 106, 37);
    border: 1px solid rgb(76, 48, 236);
    text-shadow: 2px 3px 4px;
    filter: blur(1px);
  }
.BERTA:hover{
    border: 1px solid rgb(59, 196, 91);
    color: rgb(150, 41, 41);
    text-shadow: 2px 3px 4px;
    filter: blur(1px);
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    ul.navbar-horizontal li {
    color:#000;
    background-color:rgb(105, 164, 141)
    }
    ul.navbar-horizontal a {
    display:block;
    padding:8px}
ul.navbar-horizontal:hover a{
    background-color: rgb(112, 215, 84);
    color:rgb(12, 5, 110);
}    
