.speech{
    font: message-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: black;
}
.direction{
    font: medium;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: aquamarine;
}
.direction:hover{
    background-color: darkkhaki;
    color: brown;
}
.MISSTESMAN{
    color: cornflowerblue;

}
.BERTA{
    color: darkblue;
}
table{
    font-size: medium;
    border: 5px blue solid;
    color: rgb(72, 47, 216);
    text-align: center;
    padding: 12px;
    margin: 3px;
}
tr:nth-child(odd) {
    background-color: lightpink;
  }
.MISSTESMAN:hover{
    background-color: blueviolet;
    color: white;
    border: 1px solid crimson;
    filter: blur(1px);
  }
.BERTA:hover{
    border: 1px solid brown;
    background-color: rgb(126, 199, 126);
    color: rgb(150, 41, 41);
    filter: blur(1px);
}

